
html {
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

:root {
    /*variaveis*/
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --branco: #fff;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
    /* para testes */
    --verde: #02ff30;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    /* quero que todas os textos começem com letra maiúscula */
    transition: 0.2s linear;
    /*efeito de transição*/
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);

}

/* ========NAV BAR========= */

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    /* para fixar o cabeçalho */
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    /* para ficar na frente de outros elementos */
    border-bottom: var(--border);
    background-color: var(--bg);

}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* para deixar os elementos um ao lado do outro */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--branco);

}

.navbar a:hover {
    /* para quando o mouse passar por cima */
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;

}

.icons i {
    color: var(--branco);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.icons i:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}




/* ========FINAL NAV BAR========= */

/* ==========HOME============ */

.btn{
    background: var(--main-color);
    color: var(--branco);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;  
    display: inline-block; 
    border-radius: 2px;
}

.btn:hover{
    letter-spacing: .1rem;
    /* para aumentar o espaçamento entre as letras */
    
}

.home-container{
    background: url("https://i.ibb.co/KX8pvpC/home-img.jpg");
    background-size: cover;
    background-position: center center ;
    
}

.home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
    /* para ocupar a tela toda no mínimo, dependendo do tamanho da tela */
    padding-top: 15rem;
    box-sizing: border-box;
}

.content{
    max-width: 60rem;
}

.content h3{
    color: var(--branco);
    font-size: 6rem;
}

.content p{
    color: var(--branco);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    /* para deixar o texto mais espacado */
    padding: 1rem 0;
}

/* ==========FINAL HOME============ */

/* ==========ABOUT============ */

.title {
font-size: 4rem;
color: var(--main-color);
text-align: center;
text-transform: uppercase;
/* tudo letra maiuscula */
margin-bottom: 4rem;
}

.title span{
    color: var(--branco);
    text-transform: uppercase;
}

.about .row {
display: flex;
/* Deixa um do lado do outro */
align-items: center;
background-color: var(--black);
gap: 1.5rem;
flex-wrap: wrap;

}

.about .row .container-image{
    flex: 1 1 45rem;
}

.about .row .container-image img{
    width: 100%;
}


.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;

}

.about .row .content h3{
font-size: 3rem;
color: var(--branco);
}

.about .row .content p{
font-size: 1.6rem;
color: var(--branco);
padding: 1rem 0;
line-height: 1.8;
/* distancia de uma linha para a outra */
}

/* ==========FINAL ABOUT============ */

/* ==========MENU=========== */

 .box-container{
  display: grid;
  /* bom para vários itens e voce quer estilizar de forma automática, principalmente se os itens forem aumentar depois de um tempo*/
grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
gap: 1.5rem;
}

.menu .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}


.menu .box-container .box img{
   height: 10rem;

}


.menu .box-container .box h3{
   color: var(--branco);
   font-size: 2rem;
   padding: 1rem 0;

}

.menu .box-container .box .price{
color: var(--branco);
font-size: 2.5rem;
padding: 0.5rem 0;
}

.menu .box-container .box .price span{
font-size: 1.5rem;
text-decoration: line-through;
font-weight: lighter;
}

.menu .box-container .box:hover{
    background-color: var(--branco);

}

.menu .box-container .box:hover>*{
   color: var(--black);
   /* o >* aplica para todos que estão dentro do box */
}

/* ==========FINAL MENU=========== */

/* ==========REVIEW=========== */

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    color: var(--branco);
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
    
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.review .box-container .box .stars i{
    font-size: 2rem;
    color: var(--main-color);
}

.review .box-container .box h3{
    color: var(--branco);
    font-size: 2rem;
    margin: 1rem 0;
}

/* ==========FINAL REVIEW=========== */

/* ==========ADDRESS=========== */


.address{
 display: flex;
 align-items: center;
 flex-direction: column;
 /* pra deixar tudo um abaixo do outro */

    
}

.map-frame {
    width: 100%;
    height: 450px; /* Você pode ajustar a altura conforme necessário */
    border: none; /* Remove a borda padrão do iframe */
}

/* ==========FINAL ADDRESS=========== */

/* ==========FOOTER=========== */

.footer{
    
    text-align: center;
   
}

.footer .shere a{
   margin: 0 1rem;
   
}

.footer .shere img{
    margin: 2rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
    height: 3rem;
    width: 3rem;
}

.footer .shere img:hover{
        background-color: var(--main-color);
}

.back-to-top-btn {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--main-color);
    color: var(--branco);
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    z-index: 1000;
    display: none; 
    transition: all .4s;
}

.back-to-top-btn.active {
    display: block;
}


/* ==========FINAL FOOTER=========== */




/* ==================MEDIA QUERIES================== */

@media (max-width: 991px) {
    html {
        font-size: 55%;

    }

    .header {
        padding: 1.5rem 2rem;
    }

    .header section {
        padding: 0;
    }

    #menu-btn {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--main-color);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
       
    .navbar.active {
        right: 0;
    }

    .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
        text-align: center;

    }

}

@media (max-width: 768px) {
    .content h3 {
        font-size: 4rem;
    }

    .content p {
        font-size: 1.5rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 363px) {
    .content h3 {
        font-size: 3rem;
    }

    .content p {
        font-size: 1.2rem;
    }

    .about .row .content h3 {
        font-size: 2.5rem;
    }

    .about .row .content p {
        font-size: 1.4rem;
    }

    .menu .box-container .box {
        padding: 3rem;
    }
}
